
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card text-white bg-secondary mb-3" style="max-width: 28.5rem;">
                <div class="card-header">QualityOne</div>
                <div class="card-body">
                    <!--        <h5 class="card-title">Secondary card title</h5>-->
                    <p class="card-text">Pork Belly unicorn, normcore. Ecco Park fam</p>
                </div>
            </div>
            <div class="card text-white bg-secondary mb-3" style="max-width: 28.5rem;">
                <div class="card-header">QualityOne</div>
                <div class="card-body">
                    <!--        <h5 class="card-title">Secondary card title</h5>-->
                    <p class="card-text">Pork Belly unicorn, normcore. Ecco Park fam</p>
                </div>
            </div>
            <div class="card text-white bg-secondary mb-3" style="max-width: 28.5rem;">
                <div class="card-header">QualityOne</div>
                <div class="card-body">
                    <!--        <h5 class="card-title">Secondary card title</h5>-->
                    <p class="card-text">Pork Belly unicorn, normcore. Ecco Park fam</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card text-white bg-secondary mb-3" style="max-width: 28.5rem;">
                <div class="card-header">Zinc Migration</div>
                <div class="card-body">
                    <!--        <h5 class="card-title">Secondary card title</h5>-->
                    <p class="card-text">Pork Belly unicorn, normcore. Ecco Park fam</p>
                </div>
            </div>
            <div class="card text-white bg-secondary mb-3" style="max-width: 28.5rem;">
                <div class="card-header">QualityOne</div>
                <div class="card-body">
                    <!--        <h5 class="card-title">Secondary card title</h5>-->
                    <p class="card-text">Pork Belly unicorn, normcore. Ecco Park fam</p>
                </div>
            </div>
            <div class="card text-white bg-secondary mb-3" style="max-width: 28.5rem;">
                <div class="card-header">QualityOne</div>
                <div class="card-body">
                    <!--        <h5 class="card-title">Secondary card title</h5>-->
                    <p class="card-text">Pork Belly unicorn, normcore. Ecco Park fam</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card text-white bg-secondary mb-3" style="max-width: 28.5rem;">
                <div class="card-header">Glossary</div>
                <div class="card-body">
                    <!--        <h5 class="card-title">Secondary card title</h5>-->
                    <p class="card-text">Pork Belly unicorn, normcore. Ecco Park fam</p>
                </div>
            </div>
            <div class="card text-white bg-secondary mb-3" style="max-width: 28.5rem;">
                <div class="card-header">QualityOne</div>
                <div class="card-body">
                    <!--        <h5 class="card-title">Secondary card title</h5>-->
                    <p class="card-text">Pork Belly unicorn, normcore. Ecco Park fam</p>
                </div>
            </div>
        </div>
    </div>
</div>