<!--<ul class="nav nav-tabs">-->
<!--    <li class="nav-item">-->
<!--        <a class="nav-link active" href="#">Active</a>-->
<!--    </li>-->
<!--    <li class="nav-item dropdown">-->
<!--        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>-->
<!--        <div class="dropdown-menu">-->
<!--            <a class="dropdown-item" href="#">Users</a>-->
<!--            <a class="dropdown-item" href="#">Administrators</a>-->
<!--            <a class="dropdown-item" href="#">Releases</a>-->
<!--            <div class="dropdown-divider"></div>-->
<!--            <a class="dropdown-item" href="#">Separated link</a>-->
<!--        </div>-->
<!--    </li>-->
<!--    <li class="nav-item">-->
<!--        <a class="nav-link" href="#">Link</a>-->
<!--    </li>-->
<!--</ul>-->
<div class="categories">
    <ul class="categories-list">
        <li>
            <a class="categories-link">Users</a>
        </li>
        <li>
            <a class="categories-link">Administrators</a>
        </li>
        <li>
            <a class="categories-link">Releases</a>
        </li>
        <li>
            <a class="categories-link">Resources</a>
        </li>
        <li>
            <a class="categories-link">Videos</a>
        </li>
    </ul>
</div>
