<div class="categories-platform">
    <ul class="categories-list">
        <li>
            <a href="/platform/users" class="categories-link">Users</a>
        </li>
        <li>
            <a href="/platform/admin" class="categories-link">Administrators</a>
        </li>
        <li>
            <a href="/platform/releases" class="categories-link">Releases</a>
        </li>
        <li>
            <a href="/platform/resources" class="categories-link">Resources</a>
        </li>
        <li>
            <a href="/platform/videos" class="categories-link">Videos</a>
        </li>
    </ul>
</div>

<div class="categories-regulatory">
    <ul class="categories-list">
        <li>
            <a href="/regulatory/users" class="categories-link">Users</a>
        </li>
        <li>
            <a href="/regulatory/admin" class="categories-link">Administrators</a>
        </li>
        <li>
            <a href="/regulatory/releases" class="categories-link">Releases</a>
        </li>
        <li>
            <a href="/regulatory/resources" class="categories-link">Resources</a>
        </li>
        <li>
            <a href="/regulatory/videos" class="categories-link">Videos</a>
        </li>
    </ul>
</div>

<div class="categories-edc">
    <ul class="categories-list">
        <li>
            <a href="/edc/users" class="categories-link">Users</a>
        </li>
        <li>
            <a href="/edc/admin" class="categories-link">Administrators</a>
        </li>
        <li>
            <a href="/edc/releases" class="categories-link">Releases</a>
        </li>
        <li>
            <a href="/edc/resources" class="categories-link">Resources</a>
        </li>
        <li>
            <a href="/edc/videos" class="categories-link">Videos</a>
        </li>
    </ul>
</div>

<div class="categories-medcomms">
    <ul class="categories-list">
        <li>
            <a href="/medcomms/users" class="categories-link">Users</a>
        </li>
        <li>
            <a href="/medcomms/admin" class="categories-link">Administrators</a>
        </li>
        <li>
            <a href="/medcomms/releases" class="categories-link">Releases</a>
        </li>
        <li>
            <a href="/medcomms/resources" class="categories-link">Resources</a>
        </li>
        <li>
            <a href="/medcomms/videos" class="categories-link">Videos</a>
        </li>
    </ul>
</div>

<div class="categories-promomats">
    <ul class="categories-list">
        <li>
            <a href="/promomats/users" class="categories-link">Users</a>
        </li>
        <li>
            <a href="/promomats/admin" class="categories-link">Administrators</a>
        </li>
        <li>
            <a href="/promomats/releases" class="categories-link">Releases</a>
        </li>
        <li>
            <a href="/promomats/resources" class="categories-link">Resources</a>
        </li>
        <li>
            <a href="/promomats/videos" class="categories-link">Videos</a>
        </li>
    </ul>
</div>

<div class="categories-quality">
    <ul class="categories-list">
        <li>
            <a href="/quality/users" class="categories-link">Users</a>
        </li>
        <li>
            <a href="/quality/admin" class="categories-link">Administrators</a>
        </li>
        <li>
            <a href="/quality/releases" class="categories-link">Releases</a>
        </li>
        <li>
            <a href="/quality/resources" class="categories-link">Resources</a>
        </li>
        <li>
            <a href="/quality/videos" class="categories-link">Videos</a>
        </li>
    </ul>
</div>

<div class="categories-clinops">
    <ul class="categories-list">
        <li>
            <a href="/clinops/users" class="categories-link">Users</a>
        </li>
        <li>
            <a href="/clinops/admin" class="categories-link">Administrators</a>
        </li>
        <li>
            <a href="/clinops/releases" class="categories-link">Releases</a>
        </li>
        <li>
            <a href="/clinops/resources" class="categories-link">Resources</a>
        </li>
        <li>
            <a href="/clinops/videos" class="categories-link">Videos</a>
        </li>
    </ul>
</div>

<div class="categories-regulatoryOne">
    <ul class="categories-list">
        <li>
            <a href="/regulatoryOne/users" class="categories-link">Users</a>
        </li>
        <li>
            <a href="/regulatoryOne/admin" class="categories-link">Administrators</a>
        </li>
        <li>
            <a href="/regulatoryOne/releases" class="categories-link">Releases</a>
        </li>
        <li>
            <a href="/regulatoryOne/resources" class="categories-link">Resources</a>
        </li>
        <li>
            <a href="/regulatoryOne/videos" class="categories-link">Videos</a>
        </li>
    </ul>
</div>

<div class="categories-veeva-claims">
    <ul class="categories-list">
        <li>
            <a href="/veeva-claims/users" class="categories-link">Users</a>
        </li>
        <li>
            <a href="/veeva-claims/admin" class="categories-link">Administrators</a>
        </li>
        <li>
            <a href="/veeva-claims/releases" class="categories-link">Releases</a>
        </li>
        <li>
            <a href="/veeva-claims/resources" class="categories-link">Resources</a>
        </li>
        <li>
            <a href="/veeva-claims/videos" class="categories-link">Videos</a>
        </li>
    </ul>
</div>

<div class="categories-sitevault">
    <ul class="categories-list">
        <li>
            <a href="/sitevault/users" class="categories-link">Users</a>
        </li>
        <li>
            <a href="/sitevault/admin" class="categories-link">Administrators</a>
        </li>
        <li>
            <a href="/sitevault/releases" class="categories-link">Releases</a>
        </li>
        <li>
            <a href="/sitevault/resources" class="categories-link">Resources</a>
        </li>
        <li>
            <a href="/sitevault/videos" class="categories-link">Videos</a>
        </li>
    </ul>
</div>
