<header>
    <div class="leftSide">
        <a href="/{{ page.section }}">
            <img src="/assets/img/mainLogo.png" width="60">
        </a>
        <a href="/{{ page.section }}">
            <span class="navTitle">
                &nbsp; {{ page.section | escape }} | Help Center
            </span>
        </a>
    </div>

    <nav>
<!--    {% include navigation.html navigation=site.data.navigation %}-->
      {% include app-family-switcher.html %}
  </nav>
</header>

    {% include categories.html %}