body {
  height: 100vh;
  position: relative;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: $grey-bg-color;
}

header h1::before {
  background-image: url("/assets/img/mainLogo.png");
  background-size: 100% 100%;
  padding-right: 20px;
  display: inline-block;
  width: 102px;
  height: 28px;
  content:"";
}
header > h1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  margin-left: 20px;
  @media screen and (min-width: $screen-sm-min) {
    padding-bottom: 0;
  }
  a,
  a:visited {
    text-decoration: none;
    border: 0;
    color: white;
    @media screen and (min-width: $screen-sm-min) {
      padding: 1rem;
    }
  }
  a:hover {
    color: white;
  }
}

header > nav {
  @media screen and (min-width: $screen-sm-min) {
    float: right;
  }
  ul {
    display: flex;
    li {
      margin-right: 2rem;
      display: inline-block;
      @media screen and (min-width: $screen-sm-min) {
        margin-right: 0;
      }
      a,
      a:visited {
        color: white;
        text-decoration: none;
        border: 0;
        @media screen and (min-width: $screen-sm-min) {
          padding: 1rem;
        }
        &[data-current="current page"] {
          // you can add an active nav item style here
        }
      }
      a:hover {
        color: white;
      }
    }
  }
}

main {
  width: 90%;
  min-height: 65vh;
  margin-right: auto;
  margin-left: auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
  @media screen and (min-width: $screen-md-min) {
    align-content: start;
  }
}

html[data-current="blog"] main > section {
  ul li {
    padding: 2rem 0;
    border-bottom: 0.05em solid $hairline-color;
    p {
      padding-bottom: 0;
    }
  }
}

nav[aria-label="Adjacent Posts"] {
  padding: 4rem 0;
  ul {
    display: flex;
    li {
      flex: 0 0 50%;
      width: auto;
      &:nth-child(2) {
        text-align: right;
      }
    }
  }
}


.home-search {
  width: 60%;
  margin: 0 auto;
}

.card-title {
  font-size: 30px;
  margin-bottom: -1rem;
}

.card button {
  width: 120px;
}

.card {
  text-align: center;
}

.card-text {
  font-size: 20px;
}

.card-title p {
  margin-bottom: 10px;
}

.card i {
  color: #666666;
  margin-bottom: 10px;
}

.home-search {
  margin-bottom: 50px;
}

nav .dropdown {
  margin-right: 40px;
}
header .dropdown-item {
  font-size: 14px;
}
.categories {
  padding-top: 10px;
  height: 40px;
  max-width: 600px;
  margin: 0 auto;
}

.categories-list {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  height: 40px;
  max-width: 600px;
  margin: 0 auto;
}
.categories-list a:link,
.categories-list a:visited,
.categories-list a:hover,
.categories-list a:active {
  color: $grey-bg-color;
  text-decoration: none;
}

footer a:link, footer a:visited,
footer a:hover, footer a:active, footer a {
  color: $link-color;
  text-decoration: none;
  border-bottom: none;
}

footer {
  background-color: $hairline-color;
  height: 200px;
  bottom: 0;
  font-size: 16px;
  width: 100%;
  padding: 20px;
}

.categories a:link {
  text-decoration: none;
}

#app-family-cards {
  margin-top: 50px;
}

.categories-platform, .categories-clinops, .categories-edc,
.categories-medcomms, .categories-promomats, .categories-regulatory,
.categories-regulatoryOne, .categories-veeva-claims, .categories-quality,
.categories-qualityOne, .categories-sitevault {
  display: none;
  visibility: hidden;
}

html[data-current="Platform"] .categories-platform,
html[data-current="Vault"] .categories-platform {
  visibility: visible;
  display: initial;
}
html[data-current="MedComms"] .categories-medcomms {
  visibility: visible;
  display: initial;
}
html[data-current="Regulatory"] .categories-regulatory {
  visibility: visible;
  display: initial;
}
html[data-current="RegulatoryOne"] .categories-regulatoryOne {
  visibility: visible;
  display: initial;
}
html[data-current="Veeva Claims"] .categories-veeva-claims {
  visibility: visible;
  display: initial;
}
html[data-current="Quality"] .categories-quality {
  visibility: visible;
  display: initial;
}
html[data-current="QualityOne"] .categories-qualityOne {
  visibility: visible;
  display: initial;
}
html[data-current="EDC"] .categories-edc {
  visibility: visible;
  display: initial;
}
html[data-current="ClinOps"] .categories-clinops {
  visibility: visible;
  display: initial;
}
html[data-current="PromoMats"] .categories-promomats {
  visibility: visible;
  display: initial;
}
html[data-current="SiteVault"] .categories-sitevault {
  visibility: visible;
  display: initial;
}

header #dropdownMenuLink {
  font-size: 13px;
}
header #dropdownMenuLink {
  color: white;
}

header a:link,
header a:visited,
header a:hover,
header a:active {
  text-decoration: none;
  border-bottom: none;
}

header img {
  width: 100px;
}

.leftSide {
  display: flex;
  align-items: center;
  font-size: 23px;
}

.leftSide a:link,
.leftSide a:visited,
.leftSide a:hover,
.leftSide a:active {
  color: white;
  text-decoration: none;
  font-sizd: 22px
}
