// Main Styles

// See the other SASS partials for typography, variables etc.
// CSS Grid is used for the layout with fallbacks for less capable browsers
// declared beforehand, and a @supports feature query to reset fallbacks when
// necessary. https://rachelandrew.co.uk/css/cheatsheets/grid-fallbacks

// the body element is our primary layout grid
body {
  height: 100vh;
  position: relative;
  //display: grid;
  //grid-template-rows: auto 1fr auto;
  //grid-template-columns:
  //  [full-start] minmax(0, 1fr)
  //  [main-start] minmax(0, 90rem) [main-end]
  //  minmax(1rem, 1fr) [full-end];
}

//body > * {
//  grid-column: full;
//}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: $grey-bg-color;
}



// logo, is a grid item
header h1::before {
  background-image: url("/assets/img/mainLogo.png");
  background-size: 100% 100%;
  padding-right: 20px;
  display: inline-block;
  width: 102px;
  height: 28px;
  content:"";
}
header > h1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  margin-left: 20px;
  @media screen and (min-width: $screen-sm-min) {
    padding-bottom: 0;
  }
  a,
  a:visited {
    text-decoration: none;
    border: 0;
    color: white;
    @media screen and (min-width: $screen-sm-min) {
      padding: 1rem;
    }
  }
  a:hover {
    color: white;
  }
}

header > nav {
  @media screen and (min-width: $screen-sm-min) {
    float: right;
  }
  ul {
    display: flex;
    li {
      margin-right: 2rem;
      display: inline-block;
      @media screen and (min-width: $screen-sm-min) {
        margin-right: 0;
      }
      a,
      a:visited {
        color: white;
        text-decoration: none;
        border: 0;
        @media screen and (min-width: $screen-sm-min) {
          padding: 1rem;
        }
        &[data-current="current page"] {
          // you can add an active nav item style here
        }
      }
      a:hover {
        color: white;
      }
    }
  }
}

main {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
  @media screen and (min-width: $screen-md-min) {
    align-content: start;
  }
}

html[data-current="blog"] main > section {
  ul li {
    padding: 2rem 0;
    border-bottom: 0.05em solid $hairline-color;
    p {
      padding-bottom: 0;
    }
  }
}

nav[aria-label="Adjacent Posts"] {
  padding: 4rem 0;
  ul {
    display: flex;
    li {
      flex: 0 0 50%;
      width: auto;
      &:nth-child(2) {
        text-align: right;
      }
    }
  }
}

footer {
  background-color: $grey-bg-color;
}

.home-search {
  width: 60%;
  margin: 0 auto;
}

.card-title {
  font-size: 30px;
  margin-bottom: -1rem;
}

.card button {
  width: 120px;
}

.card {
  text-align: center;
}

.card-text {
  font-size: 20px;
}

.card-title p {
  margin-bottom: 10px;
}

.card i {
  color: #666666;
  margin-bottom: 10px;
}

.home-search {
  margin-bottom: 50px;
}

nav .dropdown {
  margin-right: 30px;
}

.categories {
  padding-top: 10px;
  height: 40px;
  max-width: 600px;
  margin: 0 auto;
}

.categories-list {
  display: flex;
  justify-content: space-between;
}
footer {
  background-color: $grey-bg-color;
  height: 200px;
  bottom: 0;
  width: 100%;
}

.categories a:visited {

}
.categories a:active {

}

.categories a:link {
  text-decoration: none;
}

.categories a:hover {

}

#app-family-cards {
  margin-top: 50px;
}

.categories-platform, .categories-clinops, .categories-edc,
.categories-medcomms, .categories-promomats, .categories-regulatory,
.categories-regulatoryOne, .categories-veeva-claims, .categories-quality,
.categories-qualityOne, .categories-sitevault {
  display: none;
  visibility: hidden;
}

html[data-current="platform"] .categories-platform {
  visibility: visible;
  display: initial;
}
html[data-current="medcomms"] .categories-medcomms {
  visibility: visible;
  display: initial;
}
html[data-current="regulatory"] .categories-regulatory {
  visibility: visible;
  display: initial;
}
html[data-current="regulatoryOne"] .categories-regulatoryOne {
  visibility: visible;
  display: initial;
}
html[data-current="veeva-claims"] .categories-veeva-claims {
  visibility: visible;
  display: initial;
}
html[data-current="quality"] .categories-quality {
  visibility: visible;
  display: initial;
}
html[data-current="qualityOne"] .categories-qualityOne {
  visibility: visible;
  display: initial;
}
html[data-current="edc"] .categories-edc {
  visibility: visible;
  display: initial;
}
html[data-current="clinops"] .categories-clinops {
  visibility: visible;
  display: initial;
}
html[data-current="promomats"] .categories-promomats {
  visibility: visible;
  display: initial;
}
html[data-current="sitevault"] .categories-sitevault {
  visibility: visible;
  display: initial;
}


