// site colours
$text-color: #000000;
$text-color-negative: white;
$brand-color: #f8972b;
$link-color: #07c;
$link-hover-color: #30c;
$grey-bg-color: #808080;
$hairline-color: #f6f6f6;
$selection-bg-color: #ffffff;

// typographic defaults
$base-font: Arial, ystem-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Droid Sans,Helvetica Neue;
$code-font: Courier, monospace;
$base-font-size: 62.5%;
$base-font-weight: 300;
$bold-font-weight: 600;
$base-line-height: 1.5;

// viewport breakpoints
$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1240px;
$screen-xl-min: 1920px;