---
layout: default
---

<h2>{{ page.title }}</h2>

<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="What can I help you with?" aria-label="Site Search" aria-describedby="basic-addon2">
  <div class="input-group-append">
    <button class="input-group-text" id="basic-addon2">Search</span>
  </div>
</div><br/>

  {{ content }}

  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Configuring</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-light">Go</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Using</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-light">Go</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Releases</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-light">Go</a>
        </div>
      </div>
    </div>
  </div>

  <br />
